*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #000;
}
.div1{
    background-color: RGB(204,204,204);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.listIcon{
    background-image: url("../images/bg1.jpg");
    height: 115px;
}
.ul1{
    float: right;
}
.ul1 li{
    display: inline-block;
   margin-right: 5px;
   opacity: 0.5;
}
.ul1 li:hover{
    opacity: 1;
}

hr{
    color: #545454;
    clear: both;
}
.ul2{
    background-color: #000;
}

.ul2 li{
    color:RGB(204,204,204) ;
    display: inline-block;
    margin: 5px;
    
    padding: 3px;
}
.ul2 li:hover{
    background-color: #3399FE;
}
img{
    margin-left: 11px;
    margin-top: 11px;
}

h1{
    
    text-transform: uppercase;
    color: #3399FE;
    padding:20px 20px 10px 20px;
}
hr{
    color: #545454;
    margin: 0 10px 0 10px;
}
/*++++++++++++++++++++++++++++page2++++++++++++++++++++++++++*/
.div2{

    float: left;
    width:63%
}
.div3{

    float: right;
    width: 33%;
}
.div4{
    clear: both;
}

h1{
    color: #1199F9;
    margin: 10px;
    text-indent: 5px;
    text-transform: uppercase;
    font-family: 'Cambria Math','Times New Roman', Times, serif;
}
hr{
    color: #545454;
}
.div2 p{
    margin: 10px;
    text-align: justify;
    word-spacing: 3px;
}
.div2 ul {
    
    margin-left:50px;
}

.div2 img{
    outline: 2px solid #fff;
    outline-offset: 5px;
    margin: 25px;
}

h3{
    color: #F77012;
    text-transform: uppercase;
    font-family: 'Cambria Math','Times New Roman', Times, serif;
    margin: 15px 10px 0 10px;
}
h4
{
    color: #1199F9;
    margin: 0 10px 0 10px;
}
 .div3 p{
     text-align: justify;
     margin:10px 10px 0 10px ;
     word-spacing: 3px;
 }

 .footerHr{
    color: #545454;
    margin: 30px 10px 0 10px;
 }

/*++++++++++++++++++++++++++++page2++++++++++++++++++++++++++*/
.pdiv2 p {
    margin:20px;
    font-family: 'Cambria Math','Times New Roman', Times, serif;
    text-align: justify;
}

.pdiv3{
   padding:20px 100px 20px 100px;
   margin: 0 60px 0 60px;
}
.pdiv3 img{
    padding: 5px;
}

.pp2{
    padding-top: 20px;
    margin:20px;
    font-family: 'Cambria Math','Times New Roman', Times, serif;
    text-align: justify;
}

.footerh3{
    padding-top: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #37577F;
}

.footerh4{
    text-align: center;
    padding-bottom:20px;
    text-transform: capitalize;
    color: #37577F;
}